NEXT_PUBLIC_API_URL=http://localhost:3000

NEXT_PUBLIC_API_URL_BACK_URL=http://localhost:3001/dashboard/home #? Develop links internos para redireccion Mercado Pago.
NEXT_PUBLIC_API_URL_BACK_URL_ERROR=http://localhost:3001/dashboard/error #? Develop links internos para redireccion Mercado Pago Error.

NEXT_PUBLIC_MP_API_KEY='TEST-56e23f85-xxxxxxxxx-xxxxxxxxxx' #? Api key de Mercado Pago

NEXT_PUBLIC_API_KEY_MAPS=AQUI_TU_API_KEY_MAPS

NEXT_PUBLIC_K1=123456789
NEXT_PUBLIC_K2=123456789

NEXT_PUBLIC_ROOM_API_KEY=TOKEN_COMUNICATION_BACKEND_API_KEY